body {
    background-color: #1e1e1e;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    background-color: #1e1e1e;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 60px;
    height: 60px;
}

#footer-links {
    font-size: 10pt;
    color: lightgray;
    padding-top: 22px;
}

#footer-links span {
    margin-left: 10px;
}

#footer-links a,
#footer-links a:visited {
    color: lightgray;
}

#footer-links .social-button iframe {
    margin-bottom: -6px;
}

#logo {
    position: absolute;
    top: 5px;
    left: 30px;
}

#generate-btn {
    position: absolute;
    left: calc(50% - 73px);
    bottom: 15px;
    margin: 0px;
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 20;
}

#endpoint-url {
    position: absolute;
    left: 30px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    width: calc(100% - 48px);
    height: 100px;
    z-index: 20;
    border-radius: 2px;
}

#endpoint-url a.url {
    font-family: monospace;
    font-size: 13pt;
    color: white;
    position: absolute;
    top: 8px;
    left: 40px;
}

#endpoint-url span.fa {
    position: absolute;
    right: 11px;
    top: 7px;
    color: white;
    font-size: 15pt;
}

#endpoint-url button.copy-clipboard {
    position: absolute;
    left: 38px;
    top: 45px;
}

#endpoint-url span.copy-status-text {
    position: absolute;
    left: 248px;
    top: 55px;
    color: white;
}

.viewport {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 60px;
}

.viewport .column {
    background-color: #242424;
    position: absolute;
    height: 100%;
    width: calc(50% - 40px);
    padding-top: 5px;
    box-shadow: 0px -1px 8px 0px rgba(50, 50, 50, 1);
}

.viewport .column.left {
    left: 20px;
}

.viewport .column.right {
    right: 20px;
}

.viewport .column.right .show {
    position: absolute;
    top: 7px;
    right: 29px;
    color: white;
    font-size: 15pt;
    z-index: 19;
}

.CodeMirror {
    height: 100%;
    font-size: 13px;
    font-family: "Menlo","Consolas","Inconsolata","Deja Vu Sans Mono","Droid Sans Mono","Andale Mono","Lucida Console",monospace;
}

.CodeMirror-scroll {
    max-height: none;
    height: 100%;
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
