body {
    background-color: #1e1e1e;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60px;
    background-color: #1e1e1e;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 60px;
    height: 60px;
}

#footer-links {
    font-size: 10pt;
    color: lightgray;
    padding-top: 22px;
}

#footer-links span {
    margin-left: 10px;
}

#footer-links a,
#footer-links a:visited {
    color: lightgray;
}

#footer-links .social-button iframe {
    margin-bottom: -6px;
}

#generate-btn {
    position: absolute;
    right: calc(50% + 46px);
    /*bottom: 16px;*/
    bottom: -40px;
    margin: 0px;
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    z-index: 20;
}

#endpoint-url {
    position: absolute;
    left: 35px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    width: calc(100% - 58px);
    height: 35px;
    z-index: 20;
    border-radius: 2px;
}

@media (max-width: 1515px) {
    #endpoint-url {
        height: 50px;
    }
}

#endpoint-url a.url {
    font-family: monospace;
    font-size: 13pt;
    color: white;
    position: absolute;
    bottom: 6px;
    left: 15px;
    right: 65px;
}

#endpoint-url span.fa {
    position: absolute;
    right: 15px;
    top: 7px;
    color: white;
    font-size: 15pt;
}

.viewport {
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 60px;
}

.viewport .column {
    background-color: #242424;
    position: absolute;
    height: 100%;
    width: calc(50% - 40px);
    padding-top: 5px;
    box-shadow: 0px -1px 8px 0px rgba(50, 50, 50, 1);
}

.viewport .column.left {
    left: 20px;
}

.viewport .column.right {
    right: 20px;
}

.CodeMirror {
    height: 100%;
}

.CodeMirror-scroll {
    max-height: none;
    height: 100%;
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}